.landing__left-section {
  width: 50%;
  min-height: 50rem;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media screen and (max-width: 1135px) {
  .landing__left-section {
    width: 100%;
    max-height: 45rem;
  }
}
