.link {
  text-decoration: none;
  color: #fff;
  transition: opacity .7s ease-out;
  padding: 15px;
}

.link:hover {
  cursor: pointer;
  opacity: .6;
  text-decoration: underline;
  text-decoration-style: dotted;
}
