.landing__right-section{
  left: 45rem;
  top: 17rem;
  margin: 0;
  background-color: #996B60;
  width: 50%;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1135px) {
  .landing__right-section {
    width: 100%;
    height: 30rem;
    left: 0;
    top: 0;
  }
}

