.popup__close-button {
  height: 40px;
  width: 40px;
  fill: #fff;
  opacity: .8;
  position: absolute;
  top: -45px;
  right: -45px;
  transition: all .5s ease;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 1;
}

.popup__close-button:active {
  transform: scale(1.2);
}
