.popup__password-reset {
  font-size: 12px;
  margin-top: 15px;
}

.popup__password-reset:hover{
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #996B60;
}
