.bestsellers__circle {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  position: absolute;
  top: 1.4rem;
  right: 1.18rem;
  z-index: 2;
}

@media screen and (max-width: 1360px) {
  .bestsellers__circle  {
    right: 7.5rem;
  }
}
