.landing__nav_item {
  color: #fff;
  line-height: 1.12;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: normal;
  padding: 15px;
  margin: 0;
  z-index: 4;
}

.landing__nav_item:nth-child(4) {
  margin-left: auto;
}



