.landing__paragraph {
  color: #fff;
  line-height: 2;
  font-size: 1.12rem;
  font-family: 'Roboto';
  font-weight: normal;
  margin-top: 2.12rem;
  width: 35.75rem;
  margin: 0 0 0 3.75rem;
  padding: 0;
}
