@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/main-content/main-content.css);
@import url(../blocks/shipping/shipping.css);
@import url(../blocks/shipping/__info/shipping__info.css);
@import url(../blocks/link/link.css);
@import url(../blocks/uppercase/uppercase.css);
@import url(../blocks/landing/landing.css);
@import url(../blocks/landing/__nav/lading__nav.css);
@import url(../blocks/landing/__nav/_item/landing__nav_item.css);
@import url(../blocks/landing/__left-section/landing__left-sections.css);
@import url(../blocks/landing/__right-section/landing__right-section.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_place/button_place_landing.css);
@import url(../blocks/button/_place/button_place_bestsellers.css);
@import url(../blocks/landing/__heading/landing__heading.css);
@import url(../blocks/landing/__paragraph/landing__paragraph.css);
@import url(../blocks/quotes/quotes.css);
@import url(../blocks/quotes/__cards/quotes__cards.css);
@import url(../blocks/quotes/__card/quotes__card.css);
@import url(../blocks/quotes/__pic/quotes__pic.css);
@import url(../blocks/quotes/__text/quotes__text.css);
@import url(../blocks/heading/heading.css);
@import url(../blocks/bestsellers/bestsellers.css);
@import url(../blocks/bestsellers/__circle/bestsellers__item-circle.css);
@import url(../blocks/bestsellers/__circle-text/bestsellers__circle-text.css);
@import url(../blocks/bestsellers/__heading/bestsellers__heading.css);
@import url(../blocks/bestsellers/__item/bestsellers__item.css);
@import url(../blocks/bestsellers/__link/bestsellers__link.css);
@import url(../blocks/bestsellers/__list/bestsellers__list.css);
@import url(../blocks/bestsellers/__text/bestsellers__item-text.css);
@import url(../blocks/bestsellers/__title/bestsellers__item-title.css);
@import url(../blocks/bestsellers/__item-title/bestsellers__item-title.css);
@import url(../blocks/bestsellers/__item-text/bestsellers__item-text.css);
@import url(../blocks/bestsellers/__item/bestsellers__item.css);
@import url(../blocks/aperitifs/aperitifs.css);
@import url(../blocks/aperitifs/__heading/aperitifs__heading.css);
@import url(../blocks/aperitifs/__paragraph/aperitifs__paragraph.css);
@import url(../blocks/aperitifs/__pic/aperitifs__pic.css);
@import url(../blocks/advantages/advantages.css);
@import url(../blocks/advantages/__heading/advantages__heading.css);
@import url(../blocks/advantages/__paragraph/advantages__paragraph.css);
@import url(../blocks/advantages/__pic/advantages__pic.css);
@import url(../blocks/advantages/__text/advantages__text.css);
@import url(../blocks/review/review.css);
@import url(../blocks/review/__author/review__author.css);
@import url(../blocks/review/__column/review__column.css);
@import url(../blocks/review/__three-columns/review__three-columns.css);
@import url(../blocks/review/__verified-byer/review__verified-buyer.css);

.main-content {
  border: 1px solid yellowgreen;
}

hr {
  background-color: #BDBDBD;
  width: 92%;
  padding: 0;
  margin: 0 auto;
  height: 1px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 0 3.75rem;
}

.bigger-font {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 400;
}

.difference {
  display: flex;
  justify-content: space-between;
  padding: 3.8rem 0;
  margin: 0 3.75rem 0;
}

.difference__pic {
  width: 34.3rem;
  height: 29.3rem;
}
.difference__heading {
  font-size: 4rem;
  line-height: 5rem;
  font-family: 'Liberation Serif';
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.difference__text {
  font-size: 1.12rem;
  line-height: 2rem;
  padding: 9.6rem 0 0 0;
  margin: 0;
}

.difference__column {
  display: flex;
  flex-direction: column;
  width: 39.2rem;
}

.difference__link {
  padding: 2.18rem 0 0 0;
}
.contacts {
  background-image: url("../images/contacts/social-networks-background.png");
  object-fit: cover;
  display: flex;
  min-height: 568px;
  flex-direction: column;
}

.contacts__spotify {
  background-color: #000;
  max-width: 550px;
  margin: 3.75rem 0 1.25rem 3.75rem;
  text-align: center;
  min-height: 303px;
}
.contacts__heading {
  color: #fff;
  font-family: 'Liberation Serif';
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 5rem;
  padding: 2.5rem 0 0.5rem 0;
  margin: 0;
}
.contacts__text {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.75rem;
  max-width: 25.75rem;
  margin: 0 auto;
}

.contacts__links {
  background-color: #000;
  color: #fff;
  max-width: 550px;
  min-height: 125px;
  margin: 0 0 0 3.75rem;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__link {
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1.12rem;
  padding: 0;
  text-decoration: none;

}
.contacts__list-of-links {
  list-style-type: none;
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.footer {
  background-color: #000;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 45px 60px 40px;
  display: grid;
  grid-template-areas:
  "footer__email footer__column1 footer__column2 footer__column3"
  " footer__pocilies footer__pocilies footer__pocilies footer__pocilies";
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 140px;
}

.footer__email {
  font-family: 'Liberation Serif';
  grid-area: footer__email;
  max-width: 440px;
}

.footer__heading {
  font-size: 42px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0;
  padding: 0;
}

.footer__column1 {
  grid-area: footer__column1;
}

.footer__column2 {
  grid-area: footer__column2;
}

.footer__column3 {
  grid-area: footer__column3;
}


.footer__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 12px 0 0;
  padding: 0;
}

.footer__column {
  margin: 10px 0 0;
}

.footer__column-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.footer__column-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 21px 0 0 0;
}

.footer__column-item:first-child {
  padding: 0;
}

.footer__column-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 25px 0 0;
}

.footer__policies {
  grid-area: footer__pocilies;
}

.footer__policies-items {
  list-style-type: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  max-width: 55%;
}

.header__tooltip {
  position: relative;
  cursor: pointer;
}

.header__tooltip::after {
  position: absolute;
  width: 200px;
  border: 5px solid transparent;
  content: attr(data-tooltip);
  color: #fff;
  background-color: rgba(180, 141, 131, 0.3);
  border-radius: 5px;
  left: 107%;
  top: 4px;
  bottom: 4px;
  font-size: 0.83em;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-15px);
  transition: opacity 0.4s, transform 0.3s;
}

.header__tooltip:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.popup {
  z-index: 5;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  visibility: hidden;
  opacity: 0;
}

.popup__container {
  background-color: #fff;
  border-radius: 9px;
  width: 500px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.popup__signin-btn {
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  margin-top: 47px;
  transition: opacity .5s ease;
}

.popup__signin-btn:hover{
  opacity: .8;
  cursor: pointer;
}

.popup__input {
  width: 100%;
}

.popup__label {
  color: #737373;
  font-size: smaller;
  margin-top: 20px;
}

.popup__password-reset {
  font-size: 12px;
  margin-top: 15px;
}

.popup__password-reset:hover{
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #996B60;
}

.popup__form-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.popup__title {
  align-self: center;
  font-size: 26px;
  width: 100%;
}


.popup__close-button {
  height: 40px;
  width: 40px;
  fill: #fff;
  opacity: .7;
  position: absolute;
  top: -45px;
  right: -45px;
  transition: all .5s ease;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .9;
}

.popup__close-button:active {
  transform: scale(1.2);
}

.popup__container {
  position: relative;
}
