@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/shipping/shipping.css);
@import url(../blocks/shipping/__info/shipping__info.css);
@import url(../blocks/link/link.css);
@import url(../blocks/uppercase/uppercase.css);
@import url(../blocks/landing/landing.css);
@import url(../blocks/landing/__nav/lading__nav.css);
@import url(../blocks/landing/__nav/_item/landing__nav_item.css);
@import url(../blocks/landing/__left-section/landing__left-sections.css);
@import url(../blocks/landing/__right-section/landing__right-section.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_place/button_place_landing.css);
@import url(../blocks/button/_place/button_place_bestsellers.css);
@import url(../blocks/landing/__heading/landing__heading.css);
@import url(../blocks/landing/__paragraph/landing__paragraph.css);
@import url(../blocks/quotes/quotes.css);
@import url(../blocks/quotes/__cards-container/quotes__cards-container.css);
@import url(../blocks/quotes/__card/quotes__card.css);
@import url(../blocks/quotes/__pic/quotes__pic.css);
@import url(../blocks/quotes/__text/quotes__text.css);
@import url(../blocks/bestsellers/bestsellers.css);
@import url(../blocks/bestsellers/__circle/bestsellers__circle.css);
@import url(../blocks/bestsellers/__circle-text/bestsellers__circle-text.css);
@import url(../blocks/bestsellers/__heading/bestsellers__heading.css);
@import url(../blocks/bestsellers/__item/bestsellers__item.css);
@import url(../blocks/bestsellers/__link/bestsellers__link.css);
@import url(../blocks/bestsellers/__list/bestsellers__list.css);
@import url(../blocks/bestsellers/__item/bestsellers__item.css);
@import url(../blocks/aperitifs/aperitifs.css);
@import url(../blocks/aperitifs/__heading/aperitifs__heading.css);
@import url(../blocks/aperitifs/__paragraph/aperitifs__paragraph.css);
@import url(../blocks/aperitifs/__pic/aperitifs__pic.css);
@import url(../blocks/advantages/advantages.css);
@import url(../blocks/advantages/__heading/advantages__heading.css);
@import url(../blocks/advantages/__paragraph/advantages__paragraph.css);
@import url(../blocks/advantages/__pic/advantages__pic.css);
@import url(../blocks/advantages/__text/advantages__text.css);
@import url(../blocks/review/review.css);
@import url(../blocks/review/__author/review__author.css);
@import url(../blocks/review/__column/review__column.css);
@import url(../blocks/review/__three-columns/review__three-columns.css);
@import url(../blocks/review/__verified-byer/review__verified-buyer.css);
@import url(../blocks/button/_place/button_place_spotify.css);
@import url(../blocks/quotes/__card/_active/quotes__card_active.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__password-reset/popup__password-reset.css);
@import url(../blocks/popup/__label/popup__label.css);
@import url(../blocks/popup/__signin-btn/popup__signin-btn.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/popup/__form-fieldset/popup__form-fieldset.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/difference/difference.css);
@import url(../blocks/difference/__pic/difference__pic.css);
@import url(../blocks/difference/__heading/difference__heading.css);
@import url(../blocks/difference/__text/difference__text.css);
@import url(../blocks/difference/__column/difference__column.css);
@import url(../blocks/difference/__link/difference__link.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__spotify/contacts__spotify.css);
@import url(../blocks/contacts/__heading/contacts__heading.css);
@import url(../blocks/contacts/__text/contacts__text.css);
@import url(../blocks/contacts/__links/contacts__links.css);
@import url(../blocks/contacts/__list-of-links/contacts__list-of-links.css);
@import url(../blocks/contacts/__link/contacts__link.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__email/footer__email.css);
@import url(../blocks/footer/__heading/footer__heading.css);
@import url(../blocks/footer/__column1/footer__column1.css);
@import url(../blocks/footer/__column2/footer__column2.css);
@import url(../blocks/footer/__column3/footer__column3.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-item/footer__column-item.css);
@import url(../blocks/footer/__column-items/footer__column-items.css);
@import url(../blocks/footer/__policies/footer__policies.css);
@import url(../blocks/footer/__policies-items/footer__policies-items.css);

hr {
  background-color: #BDBDBD;
  width: 92%;
  padding: 0;
  margin: 0 auto;
  height: 1px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 0 3.75rem;
}

.bigger-font {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 400;
}

.arrow_button {
  color: #996B60;
  font-weight: 500;
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  opacity: .8;
  transition: all .7s ease;
  top: 50%;
}

.arrow_button:hover {
  transform: scale(1.2);
  opacity: 1;
}

.arrow_button_previous {
  left: -7%;
}

.arrow_button_next {
  right: -7%;
}

.slider-dot {
  cursor: pointer;
  transition: all .7s ease;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #f0b5a6;
  display: inline-block;
  margin: 0 10px;
}

.slider-dot:hover {
  border: 1px solid #ca8070;
  transform: scale(1.1);
}

.slider-dots_active {
  border: 1px solid #ca8070;
  transform: scale(1.1);
}

.slider-dots {
  padding: 0 0 50px;
  text-align: center;
}

