.bestsellers__heading {
  font-family: 'Liberation Serif';
  line-height: 5rem;
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  width: 673px;
  padding: 0 0 1.5rem 0;
  margin: 0;
}
