.button {
  height: 3.25rem;
  width: 11.25rem;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.87rem;
  opacity: .9;
  transition: all .7s ease;
}

.button:hover {
  transition: 0.4s ease-in-out;
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.button:focus {
  border: 1px #996B60 solid;
  opacity: .8;
  transform: scale(1.1);
}




