.button {
  height: 3.25rem;
  width: 11.25rem;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.87rem;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-in-out;
  cursor: grab;
}




